@import "../../styles/variables";

.finance__main {
	margin-top: 4.4rem !important;

	&-hiddenFilter {
		display: none;
	}

	.period {
		margin-bottom: -80px;

		@media all and (max-width: 765px) {
			margin-bottom: 0;
		}
	}

	&-period {
		align-items: center;
		padding: 0;
		margin-bottom: -50px;
	}

	&-tableTitleWrapper {
		display: flex;
		justify-content: left;
		align-items: center;
		margin-top: 2.5rem;
	}

	&-tableTitle {
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: .04rem;
		color: map-get($colors, default-text);
		text-transform: uppercase;
	}

	&-tableWrapper {
		margin: 1.25rem 0 1.25rem;
		box-shadow: $default-box-shadow;
		border-radius: $default-border-radius;
		background-color: map-get($colors, default-white);
	}

	@media screen and (max-width: 755px) {

		&-filter {
			margin: 1rem 0 0;
		}
	}

	@media screen and (max-width: map-get($views, tablet)) {

		&-period .finance__main-filter {
			display: flex;
			margin: 0;
			padding: 1rem 0;
			align-content: center;
			justify-content: center;

			div {
				width: 300px;
			}
		}
	}
}
