@import "normalize";
@import "_variables";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
  display: flex;
}

.link {
  text-decoration: none;
}

.layout {
  display: flex;
  overflow: hidden;
  background-color: #fafafa;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: map-get($views, container);
}

.adaptive-chart-container {
  @media screen and (max-width: map-get($views, container)) {
    width: 100vw !important;
  }
}

.first-column-text-align-left
  tr[ng-repeat="row in grid.rows"]
  td[ng-repeat="cell in row.cells"]:first-child
  span {
  text-align: left;
  padding-left: 0.5rem;
}

.first-three-column-text-align-left
tr[ng-repeat="row in grid.rows"]
td[ng-repeat="cell in row.cells"]:nth-child(-n+3)
span {
  text-align: left;
  padding-left: 0.5rem;
}

.page-title {
  width: 100%;

  div > div > .qv-object-wrapper {
    height: 100% !important;
  }

  & .responsive-text {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem !important;
    font-weight: bold;
    letter-spacing: 0.06rem;
    color: #414141;
    text-transform: uppercase;
  }

  .qv-interactive {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.9px;
    color: #414141;
    text-transform: uppercase;
  }

  @media all and (max-width: map-get($views, tablet-medium)) {
    div > div:first-of-type {
      height: 3.5rem !important;
    }
  }
}

.dropdown {
  & > div {
    height: 45px;
  }

  &-hidden {
    display: none;
  }

  .qv-inner-object,
  .qv-inner-object .qv-object-simple-list {
    overflow: visible !important;
  }

  .lui-select {
    border-radius: 0.25rem !important;
    border: solid 0.06rem #eaeaea !important;
    background-color: #fff !important;
  }

  .lui-select.qui-select {
    height: 45px !important;

    option {
      font-weight: 600 !important;
    }
  }
}

.chart-filters {
  position: relative;
  display: flex;
  margin: 0 0 30px;
  background-color: #00bfe7;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
  padding: 1.25rem 0;

  @media screen and (max-width: map-get($views, tablet)) {
    margin-bottom: 1rem;
  }
}

.table {
  & .scrollbar-thumb {
    background-color: map-get($colors, default-blue);
  }

  .qv-pt .cell.selected-highlighted {
    background: map-get($colors, default-blue) !important;

    span {
      font-weight: 600 !important;
      color: #fff !important;
    }
  }

  & th[ng-repeat="header in row.cells"] {
    padding: 1.38rem 0 !important;
    color: map-get($colors, default-text) !important;

    & span {
      font-size: 0.75rem !important;
      font-weight: bold;
      line-height: 1.43 !important;
      font-family: Roboto, sans-serif !important;
      display: block;
      text-align: center;
    }
  }

  & tr[ng-repeat="row in grid.rows"]:nth-child(2n) {
    background-color: #f2f3f5 !important;
  }

  & td[ng-repeat="cell in row.cells"] {
    padding: 1.38rem 0 !important;
    vertical-align: middle;

    &:not(:first-of-type) {
      border-right: solid 1px transparent !important;
    }

    & span {
      font-family: Roboto, sans-serif !important;
      font-size: 0.87rem !important;
      line-height: 1.43 !important;
      color: map-get($colors, default-text);
      display: block;
      text-align: center;
    }
  }

  & > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    &:last-of-type button.lui-button {
      height: 45px;
      min-width: 200px;
      border-radius: 4px;
      font-weight: 500;
      line-height: 1.25;
      text-align: center;
      margin: 0 -20px 0 0;
      padding: 0;
      position: relative;
      font-size: 1rem !important;
      transition: all 0.3s;
      color: map-get($colors, default-blue);
      border: solid 1px map-get($colors, default-blue);

      &:before {
        width: 16px;
        height: 16px;
        top: 2px;
        position: relative;
        margin-right: 3px;
        display: inline-block;
        content: url("../assets/images/partners/download.svg");
      }

      &:hover {
        background: map-get($colors, blue-light);
      }

      @media screen and (max-width: map-get($views, mobile-medium)) {
        width: 77vw;
      }

      @media screen and (max-width: 450px) {
        width: 90vw;
      }
    }
  }
}

.qv-listbox {
  li {
    height: 45px !important;
    line-height: 45px !important;
    transition: all 0.3s;
    border-bottom: 1px solid transparent !important;

    &:hover {
      background: #fff !important;
    }

    &.selected {
      color: #fff;
      border-bottom: 1px solid map-get($colors, default-blue) !important;
      background: map-get($colors, default-blue) !important;
    }
  }
}

.chart {
  padding: 0;
  border-radius: 4px;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: $chart-box-shadow;

  &-period {
    .chart__header {
      padding: 0 10px 15px !important;
    }
  }

  &__period {
    margin-top: -36px;

    & > div > div {
      height: 35px !important;
    }

    font {
      font-size: 11px !important;
      padding-left: 10px;
      font-family: Roboto, sans-serif !important;
    }
  }

  &__header {
    display: flex;
    padding: 0 10px;
    align-items: center;
    background-color: #f2f3f5;
    justify-content: space-between;

    &--green {
      div:nth-of-type(2n) font {
        color: map-get($colors, default-green);
      }
    }

    &--red {
      div:nth-of-type(2n) font {
        color: map-get($colors, default-red);
      }
    }

    & > div {
      flex: 1 1 auto;

      .qv-interactive {
        width: auto;
        display: flex;
        font-weight: bold;
        line-height: 1.08;
        align-items: center;
        color: map-get($colors, default-blue);
        letter-spacing: 0.9px;
        justify-content: flex-end;

        & > div {
          font {
            font-size: 24 / 16 + rem !important;
          }
        }
      }
    }

    & > div:first-of-type {
      flex-grow: 2.7;

      .qv-interactive {
        font-weight: bold;
        color: #414141;
        justify-content: flex-start;

        & > div {
          font {
            letter-spacing: normal;
            font-size: 17px !important;
          }
        }
      }
    }

    & > div:last-of-type {
      display: none;
    }
  }

  @media screen and (max-width: map-get($views, tablet)) {
    margin-bottom: 1rem;
  }
}

.table-title {
  margin-bottom: -50px;
}

.text-center {
  text-align: center;
}

.risk__main {
  &-KpiTable {
    & td[ng-repeat="cell in row.cells"] {
      padding: 0.4rem 0 !important;
    }
  }
  &-vizTable {
    & .qv-object-subtitle.qvt-visualization-subtitle.ng-binding.ng-scope {
      position: absolute;
      padding-bottom: 1rem;
    }
  }
}

.narrow-row {
  & td[ng-repeat="cell in row.cells"] {
    padding: 0.8rem 0 !important;
  }
}

//BOOTSTRAP
h3 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  // font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 700;
  line-height: 1.2;
  color: inherit;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;

  .row {
    padding-bottom: 10px;
  }

  .row-header {
    padding-bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  //	.col-3 { padding-left: 2px; padding-right: 2px; }
  .cntr {
    text-align: center;
  }

  .mrg-25 {
    margin-left: -25px;
  }

  .mrg-40 {
    margin-left: -40px;
  }
}

.lui-search {
  width: 100%;
}

.qtd-table-header {
  th {
    text-align: left;
  }
}

// Correction preloader ball
.qtd-preloader {
  .qtd-preloader-ball2 {
    margin-top: 10px !important;
  }
}

#App {
  font-family: sans-serif;
  /* Give app full page to work with */
  height: auto;
}

#page-wrap {
  //  text-align: right;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  padding: 35px 15px 0px 60px;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  height: 20px;
}

.bm-item .qv-object-text-image {
  color: indianred !important;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

.bm-item .qv-object-text-image:hover {
  //color: white !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 12px;
  top: 48px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.1em;
  overflow: visible !important;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-icon {
  position: relative;
  z-index: 10;
}

.menu-text {
  position: relative;
  top: -21px;
  left: 16px;
}

.qv-listbox.ng-scope {
  display: flex !important;
  flex-direction: column !important;
}

.rc-collapse {
  background-color: #f7f7f7;
  border-radius: 3px;
}

.rc-collapse-anim-active {
  transition: height 0.2s ease-out;
}

.rc-collapse > .rc-collapse-item:first-child {
  border-top: none;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  line-height: 22px;
  padding: 10px 16px;
  color: #666;
  cursor: pointer;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
  display: inline-block;
  content: "\20";
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  right: 16px;
  transition: all 0.3s;
  position: absolute;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #666;
  vertical-align: middle;
  margin-right: 8px;
}

.rc-collapse > .rc-collapse-item > .rc-collapse-header .rc-collapse-extra {
  margin: 0 16px 0 auto;
}

.rc-collapse > .rc-collapse-item-disabled > .rc-collapse-header {
  cursor: not-allowed;
  color: #999;
  background-color: #f3f3f3;
}

.rc-collapse-content {
  overflow: hidden;
  color: #666;
  padding: 0 16px;
  background-color: #fff;
}

.rc-collapse-content > .rc-collapse-content-box {
  margin-top: 16px;
  margin-bottom: 16px;
}

.rc-collapse-content-inactive {
  display: none;
}

.rc-collapse-item:last-child > .rc-collapse-content {
  border-radius: 0 0 3px 3px;
}

.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow {
  position: absolute;
  top: 28px;
  right: 16px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  margin-right: 6px;
}


// tooltips styling //
.tooltip {
  &-indicators,
  &-seo,
  &-seo-analytics,
  &-risk-title,
  &-risk-seo {
    position: absolute;
    width: 40px;
    height: 30px;
    z-index: 999;
    cursor: pointer;
    padding-right: 10px;
  }
  &-indicators {
    top: 18px;
    right: 0;
  }
  &-seo {
    bottom: 65px !important;
    right: 5px;
  }
  &-seo-analytics {
    bottom: 65px !important;
    right: 20px;
  }
  &-risk-title {
    left: 280px;
    top: 0;
  }
  &-risk-seo {
    top:0;
    right: 0;

  }

  &-img-seo {
    width: 250px;
    display: block;
    margin: 5px auto 0;
    border-radius: $default-border-radius;
    border: 1px solid map-get($colors, default-blue);
  }
}

.__react_component_tooltip {
  opacity: 1 !important;
  //width: 400px;
  box-shadow: $default-box-shadow;
  width: 340px;
}

.risk__main {
  & .__react_component_tooltip {
    width: 500px;
  }
}

//tooltips styling end //
