@import "../../styles/variables";

$table-border-color: #c6cbd4;
$chart-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);

.industry {
	margin-top: 70px !important;

	&-header,
	&-action-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.analytics__main-upperWrapper {
		margin-bottom: 30px;
	}
}
