@import "../../styles/variables";

.country__main {
	margin-top: 4.4rem !important;

	&-upperWrapper {
		align-items: center;

		&-text {
			display: flex;
			align-items: center;

			.qv-object-text-image .qv-media-tool-html {
				overflow: hidden !important;
			}
		}

		&-filterWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-title {
			width: 26rem;

			& .responsive-text {
				font-family: Roboto, sans-serif;
				font-size: 1.5rem !important;
				font-weight: bold;
				letter-spacing: 0.06rem;
				color: #414141;
				text-transform: uppercase;
			}

			&-button {
				width: 1.4rem;
				height: 1.3rem;

				& header {
					display: none !important;
				}

				& .container,
				button {
					width: 1.25rem !important;
					height: 1.25rem !important;
					padding: 0 !important;
					margin: 0 !important;
					min-width: 0 !important;
				}

				& .lui-button {
					color: #fff;
					border-radius: 2px;
					transition: all .3s;
					background-color: #fff;
					border: solid 1px #b7b7b7;

					&[title="X"] {
						border: 0;
						background: map-get($colors, default-blue);
						color: map-get($colors, default-blue);
					}
				}
			}
		}

		&-btnTitle {
			width: 25rem;

			& font {
				font-family: Roboto, sans-serif;
				font-size: 0.87rem !important;
				line-height: 1.43;
				letter-spacing: normal;
				color: #414141;
			}
		}
	}
}

.country__main {
	&-chartTitle {
		box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
		border-radius: 0.25rem;
		background-color: #f2f3f5;

		& font {
			font-family: Roboto, sans-serif !important;
			font-size: 1rem !important;
			line-height: 1.5;
			font-weight: 500 !important;
			color: #414141;
			display: block;
			text-align: left;
			margin: 1rem 0 0 1.25rem;
		}
	}

	&-tableTitleWrapper {
		display: flex;
		justify-content: left;
		align-items: center;
		margin-top: 2.5rem;
	}

	&-tableTitle {
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: .04rem;
		color: map-get($colors, default-text);
		text-transform: uppercase;
	}

	&-filter {
		width: 17.5rem;
		margin-left: 4rem;

		& .qv-collapsed-listbox {
			background-color: map-get($colors, default-white) !important;
		}

		& .title-wrapper {
			height: 2.4rem;
		}

		& .qv-state-count-bar {
			height: 0.31rem;
		}

		& .title {
			font-family: Roboto, sans-serif;
			font-size: 0.87rem !important;
			line-height: 1.43 !important;
			font-weight: normal !important;
			color: map-get($colors, default-text);
		}
	}
}
