@import "../../styles/variables";

.balance__main {
	margin-top: 4.4rem !important;

	&-hiddenFilter {
		display: none;
	}

	&-period {
		align-items: center;
		margin-bottom: -80px;
	}

	&-title .responsive-text {
		font-family: Roboto, sans-serif;
		font-size: 1.5rem !important;
		font-weight: bold;
		letter-spacing: 0.05rem;
		color: map-get($colors, default-text);
		text-transform: uppercase;
	}

	&-tableTitleWrapper {
		display: flex;
		justify-content: left;
		align-items: center;
		margin-top: 2.5rem;
	}

	&-tableTitle {
		font-size: 1.25rem;
		font-weight: bold;
		line-height: 1.2;
		letter-spacing: .04rem;
		color: map-get($colors, default-text);
		text-transform: uppercase;
	}
}
