@import "../../styles/variables";

$background-white: #fff;
$muted-input-color: #bdc9df;

.form-control {
	&:not([type='checkbox']) {
		&:not([type='radio']) {
			position: relative;
			border-radius: 4px;
			background-color: $background-white;
			border: solid 1px map-get($colors, default-blue);
			width: 100%;
			padding: 12px 16px;
			font-size: 14px;
			color: map-get($colors, default-text);
			font-weight: 600;
			font-family: 'Lato', sans-serif;
			transition: border-color .15s;

			&::placeholder {
				font-weight: 300;
				color: $muted-input-color;
				opacity: 1;
			}

			&:hover,
			&:focus {
				border-color: map-get($colors, blue-light);
				outline: none;
			}
		}
	}

	textarea {
		width: 100%;
		resize: none;
	}
}

.form-label {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	position: relative;

	&.disabled {
		opacity: .6;
		pointer-events: none;
	}

	.form-label-title {
		line-height: 1.5;
		vertical-align: middle;
		margin-right: 8px;
		margin-bottom: 2px;
		min-height: 24px;
	}
}
